.userlist-container {
    flex: 6;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-image {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.edit-user {
    padding: 0.5rem 1rem;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.delete-user {
    color: red;
    cursor: pointer;
}